<div class="container mt-5">    
    <form (submit)="agregar()">
      <div class="card">
        <div class="card-header text-center">
          <h1>Formulario</h1>
        </div>
        <div class="card-body">
          <div class="row m-3">
            <div class="col-6 mx-auto">
              <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nuevoEmpleado.nombre"
                placeholder="Ingresa tu nombre">
            </div>            
          </div>
          <div class="row m-3">
            <div class="col-6 mx-auto">
              <input type="email" class="form-control" id="correo" name="correo" [(ngModel)]="nuevoEmpleado.correo"
                placeholder="Ingresa tu correo">
            </div>
          </div>
          <div class="row m-3">
            <div class="col-6 mx-auto">
              <input type="tel" class="form-control" id="telefono" name="telefono" [(ngModel)]="nuevoEmpleado.telefono"
                placeholder="Ingresa tu teléfono">
            </div>
          </div>
          <div class="row m-3">
            <div class="col-6 mx-auto">
              <input type="date" class="form-control" id="fechaIngreso" name="fechaIngreso" [(ngModel)]="nuevoEmpleado.fechaIngreso">
            </div>
          </div>
          <div class="row  text-center">
            <div class="col">
              <label class="form-label">Sexo:</label>
              <div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sexo" [(ngModel)]="nuevoEmpleado.sexo" id="masculino"
                    value="masculino">
                  <label class="form-check-label" for="masculino">Masculino</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sexo" [(ngModel)]="nuevoEmpleado.sexo" id="femenino"
                    value="femenino">
                  <label class="form-check-label" for="femenino">Femenino</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center m-2">
          <button type="submit" class="btn btn-dark">Agregar</button>
        </div>
      </div>
    </form>
  </div>
